<section class="col-span-12 px-4 mx-auto max-w-screen-xl text-center py-14 lg:py-24">
    <h1 class="mb-8 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl">
        About our Blog App
    </h1>
    <p class="mb-8 text-lg font-normal text-gray-700 lg:text-xl sm:px-16 lg:px-48">
        <%= $loremipsum %>
    </p>
</section>