<div id="<%= dom_id user %>" class="border" >
  <%= gravatar_for user, size: 200 %>
  <p class="text-center mt-4 fs-3">
    <strong>Username:</strong>
    <%= user.username %>
  </p>
  <p class="text-center fs-6">
    <strong>Email:</strong>
    <%= user.email %>
  </p>

</div>
