<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1 class="fs-1 mt-3 text-center">All Users</h1>

  <div id="users" class="text-center">
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
  </div>

  <%= link_to "New user", new_user_path %>
</div>