<footer class="bg-body-tertiary p-2 mt-5 d-flex justify-content-evenly">
    <div class="d-flex flex-column justify-content-between">
        <h3>Friend App<h3>
        <p class="fs-6 fw-light">Designed with Bootstrap</p>
    </div>
    <div class="p-2 d-flex justify-content-evenly">
        <div>
            <div class="m-2 mx-4">Ruby</div>
            <div class="m-2 mx-4">Rails</div>
            <div class="m-2 mx-4">Github</div>
            <div class="m-2 mx-4">HTML</div>
        </div>
        <div>
            <div class="m-2 mx-4">Node</div>
            <div class="m-2 mx-4">Yarn</div>
            <div class="m-2 mx-4">JavaScript</div>
            <div class="m-2 mx-4">CSS</div>
        </div>
    </div>
</footer>