<div class="container mt-4 text-center">

  <div class="row">
    <h1 class="">Edit Article</h1>

    <%= render "form", article: @article %>

    <div>
      <%= link_to "Show this article", @article %> |
      <%= link_to "Back to articles", articles_path %>
    </div>
  </div>

</div>

<%= render 'layouts/footer' %>